.gallery-title {
  @include laptop {
    // width: 25%;
    // transform: translateX(100%);
  }
}

.gallery {
  position: relative;
  margin-top: 30px;
  margin-bottom: 100px;



  .slick-arrows {
    position: absolute;
    z-index: 10;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 4px;

    .slick-arrow-up,
    .slick-arrow-down {
      display: flex;
      width: 48px;
      height: 48px;
      padding: 10px;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      background-color: rgba(205, 200, 188, 0.80);
      transition: background-color 0.4s ease-in-out;
      cursor: pointer;

      @include tablet {
        width: 60px;
        height: 60px;
      }

      svg {
        width: 12px;
        height: 12px;

        path {
          transition: stroke 0.4s ease-in-out;
        }
      }
    }

    .slick-arrow-down {
      svg {
        transform: rotate(180deg);
      }
    }
  }
}

.desktop .slick-arrows {

  .slick-arrow-up:hover,
  .slick-arrow-down:hover {
    background-color: $bg-color;

    svg path {
      stroke: $wc;
    }
  }
}

.split-slideshow {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.slideshow {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  .slider {
    width: 100vw;
    height: 100vw;
    z-index: 2;

    * {
      outline: none;
    }

    .item {
      height: 100vh;
      width: 100vw;
      position: relative;
      overflow: hidden;
      border: none;

      .text {
        display: none;
      }

      img {
        min-width: 101%;
        min-height: 101%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        object-fit: cover;
      }
    }
  }




  .slick-dots {
    position: absolute;
    z-index: 100;
    width: 40px;
    height: auto;
    bottom: auto;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    left: auto;
    color: #fff;
    display: block;

    li {
      display: block;
      width: 100%;
      height: auto;

      & button {
        position: relative;
        width: 20px;
        height: 15px;
        text-align: center;
        color: transparent;

        &:before {
          content: '';
          background: #fff;
          color: #fff;
          height: 2px;
          width: 20px;
          border-radius: 0;
          position: absolute;
          top: 50%;
          right: 0;
          left: auto;
          transform: translateY(-50%);
          transition: all .3s ease-in-out;
          opacity: 0.6;
        }
      }

      &.slick-active {
        button {
          &:before {
            width: 40px;
            opacity: 1;
          }
        }
      }
    }
  }

  &.slideshow-right {
    left: 0;
    z-index: 1;
    width: 50vw;
    pointer-events: none;

    .slider {
      left: 0;
      position: absolute;
    }
  }
}