section {
  pointer-events: all;
  overflow-x: hidden;

  &.advantages {
    overflow-x: visible;
  }
}

.hero {
  background-color: $bg-color;
  height: 100svh;
  position: relative;
  overflow: hidden;
}

.swiper-hero {
  height: 90svh;
  overflow: hidden;

  @include tablet {
    height: 100svh;
  }

  .swiper-slide-prev {
    filter: brightness(0.5);

  }

  .swiper-slide {
    height: 100%;
    transition: transform 1500ms ease-in-out, filter 0.3s ease-in-out, scale 400ms ease-in-out;

    img {
      object-fit: cover;
      object-position: top center;
      height: 100%;
    }
  }
}

.swiper-pagination {
  bottom: 80px;
  position: static;
  margin-bottom: 28px;

  @include tablet {
    margin-bottom: 40px;
  }

  .swiper-pagination-bullet {
    opacity: 1;
    height: 2px;
    width: 40px;
    position: relative;
    overflow: hidden;
    border-radius: 0;
    background: rgba(246, 246, 246, 0.50);

    &::after {
      content: "";
      background-color: $wc;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transform: translateX(-100%);

    }

    &.swiper-pagination-bullet-active {
      background: rgba(246, 246, 246, 0.50);



      &::after {
        transform: translateX(0%);
        transition: transform 4.5s linear;
      }
    }
  }
}


.hero-content {
  position: absolute;
  padding: 20px;
  bottom: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(180deg, #ffffff00, $accent-color 60%);

  @include tablet {
    background: linear-gradient(180deg, #ffffff00, $accent-color 80%);
    padding: 40px;
    padding-bottom: 60px;
  }

  h1 {
    color: $wc;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
    text-transform: uppercase;
    margin-bottom: 20px;

    @include tablet {
      font-size: 64px;
    }
  }

  .hero-btns-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;

    @include tablet {
      gap: 20px;
    }
  }
}

.promo {
  color: $wc;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  text-decoration-line: underline;
  padding: 14px 14px;
  border-radius: 100px;
  border: 1px solid rgba(246, 246, 246, 0.20);
  position: relative;
  width: 175px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;

  @include tablet {
    width: auto;
    font-size: 14px;
    flex: 1;
  }

  .promo-disclaimer {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $bg-color;
    color: $wc;
    padding: 4px 8px;

    color: var(--White, #F6F6F6);
    text-align: center;
    font-size: 9px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    border-radius: 100px;
  }

}

.about {
  height: 100vh;
  position: relative;
  padding: 90px 20px 70px;
  background: linear-gradient(180deg, #322A32 0%, #221A22 100%);
  overflow: hidden;

  @include to(600px){
    height: 250vh;
    .about-wrap {
      height: 100vh;
      align-self: flex-start;
      position: sticky;
      top: 0;
    }
  }

  @include tablet {
    padding: 81px 98px;
  }
}

.about,
.location {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-title {
  color: $wc;
  text-wrap: nowrap;
  white-space: nowrap;
  font-size: 96px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;

  letter-spacing: -3.84px;
  text-transform: uppercase;
  position: absolute;
  top: 140px;
  left: 0;
  z-index: 3;

  @include tablet {
    font-size: 200px;
  }
}

.about-big-wrap {
  position: relative;
  width: 100%;

  .decor {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: $accent-color;
    width: 60px;
    height: 60px;
    z-index: 1;
  }
}

.about-img-wrap {
  position: relative;
  transform: translateZ(0);
  width: 100%;
  height: 125vw;
  border-radius: 50%;
  border: 1px solid #CDC8BC;
  padding: 9px;
  overflow: hidden;

  @include tablet {
    height: 110vw;
  }

  &::after {
    content: "";
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-box-shadow: inset 0px 0px 0px 9px $accent-color;
    -moz-box-shadow: inset 0px 0px 0px 9px $accent-color;
    box-shadow: inset 0px 0px 0px 9px $accent-color;
    border-radius: 50%;
  }


  .about-img {

    transform: scale(1.2);
    object-fit: cover;
    object-position: center;
    height: 100%;
    width: auto;
  }
}

.line {
  height: 1px;
  width: 100%;
  opacity: 0.2;
  background: $wc;
  margin-bottom: 12px;

  @include tablet {
    margin-bottom: 28px;
  }
}

.about-content {
  background: radial-gradient(circle at 120% 30%, #AC7E66 1%, #221a22 70%);
  min-height: 100vh;
  padding: 40px 20px 80px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  position: relative;
  z-index: 1;

  @include tablet {
    padding: 80px 40px 150px;
  }



  h3 {

    @include subtitle-text;
    margin-bottom: 28px;
  }

  p {
    @include general-text;
    padding-left: 58px;

  }

  .about-video {
    width: 100%;
    height: auto;
    margin-top: 80px;
    margin-bottom: 28px;

    @include tablet {}
  }
}

.about-btn-wrap {
  padding-left: 58px;
  margin-top: 28px;
}

.general-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $wc;
  padding: 18px;
  width: fit-content;
  text-wrap: nowrap;
  white-space: nowrap;
  @include tiny-text;
  border-radius: 100px;
  border: 1px solid rgba(90, 76, 90, 0.562);
  overflow: hidden;
  background: linear-gradient(180deg, #615661fd, $bg-color 10%);
  box-shadow: 0px 12px 60px 0px #140E14, 0px 9px 30px 0px rgba(116, 69, 116, 0.25) inset, 0px 0px 8px 0px rgba(86, 39, 86, 0.15) inset;

  @include tablet {
    padding: 20px 28px;
  }

}

.fake-section {
  height: calc(100lvh - 40px);
  width: 100%;
  pointer-events: none;
}

.panorama {
  position: fixed;

  top: 0;
  left: 0;

  z-index: -1;
  height: 100lvh;
  width: 100%;
  overflow: hidden;
  max-width: 100vw;

  .panorama-scrub {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .bg-img {
    height: 100%;
    width: auto;
    object-fit: cover;
    object-position: center;
  }

  .panorama-content {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    background: linear-gradient(180deg, rgba(34, 26, 34, 0.00) 0%, rgba(34, 26, 34, 0.80) 100%);
    height: 100%;
    width: 100%;
    padding: 140px 36px 40% 36px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &>h2 {
      @include subtitle-text;
    }

    &>p {
      color: $wc;
      font-family: $default-font2;
      font-size: 96px;
      font-style: normal;
      font-weight: 100;
      line-height: 100%;
      letter-spacing: -7.68px;
      margin-bottom: 55px;

      @include tablet {
        font-size: 200px;
      }
    }
  }

  .panorama-btn-wrap {
    position: relative;
    width: 100%;

    svg {
      width: 100%;

      @include tablet {
        height: 140px
      }

      path {
        stroke-dasharray: 700;
        stroke-dashoffset: 700;
      }
    }

    .general-btn {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-wrap: nowrap;
    }
  }

}

.location {
  @extend .about;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  @include to(600px){
    height: 250vh;
    .location-wrap {
      height: 100vh;
      align-self: flex-start;
      position: sticky;
      top: 0;
    }
  }
}

.location-big-wrap {
  position: relative;
  width: 100%;

  .decor {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: $accent-color;
    width: 60px;
    height: 60px;
    z-index: 1;
  }
}

.location-img-wrap {
  position: relative;

  transform: translateZ(0);
  width: 100%;
  height: 125vw;
  border-radius: 50%;
  border: 1px solid #CDC8BC;
  padding: 9px;
  overflow: hidden;

  // -webkit-box-shadow: inset 0px 0px 0px 9px $bg-color;
  // -moz-box-shadow: inset 0px 0px 0px 9px $bg-color;
  // box-shadow: inset 0px 0px 0px 9px $wc;
  @include tablet {
    height: 110vw;
  }

  &::after {
    content: "";
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-box-shadow: inset 0px 0px 0px 9px $accent-color;
    -moz-box-shadow: inset 0px 0px 0px 9px $accent-color;
    box-shadow: inset 0px 0px 0px 9px $accent-color;
    border-radius: 50%;
  }


  .location-img {
    // border: 1px solid #CDC8BC;
    // border-radius: 50%;
    // position: absolute;
    // top: 50%;
    // left: 50%;
    transform: scale(1.2);
    object-fit: cover;
    object-position: center;
    height: 100%;
    width: auto;
  }
}

.location-content {
  background: radial-gradient(circle at -20% 30%, #AC7E66 1%, #221a22 70%);
  min-height: 100lvh;
  padding: 40px 0 100px;
  // border-bottom-left-radius: 20px;
  // border-bottom-right-radius: 20px;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include tablet {
    padding: 40px 0 170px;
  }

  .line {
    width: calc(100% - 40px)
  }

  h3 {

    @include subtitle-text;
    margin-bottom: 28px;
    padding-left: 20px;
    padding-right: 20px;

    @include tablet {
      margin-bottom: 40px;
    }
  }

  p {
    padding-left: 78px;
    padding-right: 20px;
    @include general-text;
  }

  .about-video {
    width: 100%;
    height: auto;
    margin-top: 80px;
    margin-bottom: 28px;
  }


}

.map-main-wrap {
  margin-top: 80px;
  width: 100%;
  height: 70vh;
  border-radius: 20px;
  // background-color: $wc;
  position: relative;
  overflow: hidden;

  .map-wrapper {
    width: 100%;
    height: 100%;

    .map {
      height: 100%;
      width: 100%;
      color: $bg-color;
    }
  }

  .map-navigation {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 12px;
    background-color: transparent;
    padding: 10px;
    display: flex;
    flex-direction: column-reverse;
    gap: 10px;
    align-items: center;
    transition: all 0.4s ease-in-out;
    width: fit-content;

    .map-navigation__main {
      display: none;

    }

    .general-btn {
      transition: all 0.4s ease-in-out;

      svg {
        width: 16px;
        height: 16px;
      }

      .oppened-fltr {
        display: none;
        gap: 12px;
      }

      .closed-fltr {
        display: flex;
        gap: 12px;
      }
    }

    &.oppened {
      background-color: rgba(205, 200, 188, 0.80);
      width: calc(100% - 20px);

      .map-navigation__main {
        display: flex;
        flex-wrap: wrap;
        gap: 2px;
      }

      .general-btn {
        background: none;
        text-decoration: underline;
        box-shadow: none;
        border: none;
        color: $bg-color;

        svg path {
          fill: $bg-color;
        }

        .oppened-fltr {
          display: flex;
          gap: 12px;
        }

        .closed-fltr {
          display: none;

        }
      }
    }




  }

  .map-navigation__button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 100px;
    background-color: $wc;
    padding: 6px 12px;
    color: $bg-color;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out;

    &.active {
      background-color: $accent-color;
      color: $wc;

      svg {
        stroke: $wc;

      }
    }

    svg {
      width: 24px;
      height: 24px;


      transition: stroke 0.4s ease-in-out;

    }

  }

}

.tour {
  margin-top: -20px;
  border-radius: 20px;
  background-color: $wc;
  padding: 80px 20px;
  position: relative;
  z-index: 2;

  @include tablet {
    padding: 150px 40px;
  }

  .tour-title {
    color: $accent-color;
    top: 80px;

    @include tablet {
      top: 150px;
    }
  }

  .tour-lamp-wrap {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
  }

  .tour-lamp {
    width: 100%;
    height: auto;
    margin-bottom: 50px;
    pointer-events: none;
    position: relative;
    z-index: -1;
    transform: translateY(-10%);

    @include tablet {
      width: 70%;
      height: auto;
      transform: translateY(0%);
    }
  }

  .tour-iframe {
    width: 100%;
    height: calc(100vw * 1.15);
    margin-bottom: 28px;
    border-radius: 8px;

    @include tablet {
      height: calc(100vw * 0.90);
    }
  }

  .line {
    background: $bg-color;
  }

  h3 {


    @include subtitle-text;
    color: $bg-color;
    margin-bottom: 28px;

  }

  p {
    @include general-text;
    padding-left: 58px;
    color: $bg-color;
  }
}

.tour-btn-wrap {
  @extend .about-btn-wrap;
}

.advantages {
  background-color: $accent-color;
  padding: 80px 0px;
  margin-top: -20px;
  margin-bottom: -20px;

  @include tablet {
    padding: 170px 40px;
  }
}

.advantages-wrapper {

  position: relative;
}

.advantages-title {
  color: $wc;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-left: 20px;
  position: sticky;
  top: 80px;
}

.advantages-list {
  display: flex;
  flex-direction: column;
  // position: relative;
  // height: 200vh;
  overflow: visible;
}

.advantage-card {
  border-radius: 20px;
  border: 1px solid $accent-color;
  // background:  linear-gradient(0deg, rgba(34, 26, 34, 0.50) 0%, rgba(34, 26, 34, 0.50) 100%), linear-gradient(270deg, rgba(34, 26, 34, 0.20) 0%, rgba(34, 26, 34, 0.70) 50.48%, #221A22 100%);
  background-color: $accent-color;
  height: calc(100vw * 0.9);
  width: 100%;
  position: sticky;
  // position: -webkit-sticky;
  top: 0;
  left: 0;
  // z-index: 1;
  border-radius: 24px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 40px 20px 20px 20px;
  margin-bottom: 20px;

  @include tablet {
    height: calc((100vw - 80px) * 0.64);

  }

  &:nth-child(1) {
    top: 180px; // Перша картка зупиняється на 10px від верху
  }

  &:nth-child(2) {
    top: 200px; // Друга картка зупиняється на 20px від верху
  }

  &:nth-child(3) {
    top: 220px; // Третя картка зупиняється на 30px від верху
  }

  &:nth-child(4) {
    top: 240px; // Четверта картка зупиняється на 40px від верху
  }

  &:nth-child(5) {
    top: 260px; // П'ята картка зупиняється на 50px від верху
  }

  &:nth-child(6) {
    top: 280px; // Шоста картка зупиняється на 60px від верху
  }

  &:nth-child(7) {
    top: 300px; // Шоста картка зупиняється на 60px від верху
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: right;
  }

  h3 {
    @include subtitle-text;
    margin-bottom: 18px;

    @include tablet {
      margin-bottom: 10px;
    }
  }

  p {
    @include general-text;
    max-width: 60%;
  }

  .number-wrap {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    justify-self: flex-end;
    color: $text-color-2;
    font-family: $default-font2;
    font-size: 96px;
    font-style: normal;
    font-weight: 100;
    line-height: 100%;
    letter-spacing: -7.68px;

    @include tablet {
      font-size: 200px;

      svg {
        width: 46px;
        height: 23px;
      }
    }
  }

}

.property {
  // height: 100svh;
  background-color: $bg-color;
  border-radius: 20px;
  padding-bottom: 80px;

  @include tablet {
    padding-bottom: 150px;
  }

  .line {
    margin-top: 140px;

    @include tablet {
      margin-top: 260px;
    }
  }

  .property-img-wrap {
    width: 100%;
    height: calc(100vw* 1.35);
    border-radius: 20px;
    overflow: hidden;
  }

  .property-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: right;
    // border-radius: 20px;

  }

  .tour-btn-wrap {
    margin-top: 28px;

    .accent-btn {
      padding: 18px;
      border-radius: 100px;
      border: 1px solid #29B374;
      background: linear-gradient(180deg, #228458 0%, #006739 100%);
      box-shadow: 0px 2px 2px 0px #36D18B inset, 0px -2px 2px 0px #30AA71 inset;

      @include tablet {
        padding: 20px 28px;
      }
    }
  }
}

.property-title-wrap {
  position: relative;

  .right {
    @extend .section-title;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-100%)
  }

  .left {
    @extend .section-title;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.property-descr {
  @include general-text;
  padding-left: 58px;
}