.single-news {
  padding-bottom: 0;

  &__title {
    @include subtitle-text;
    color: $wc;
    margin-bottom: 20px;
  }

  &__date {
    font-size: 14px;
    color: $bg-color;
    font-weight: 400;
  }
}

.last-news {
  padding-top: 150px;
  padding-bottom: 20px;
  background-color: $accent-color;
  position: relative;
  top: -1px;


  &__title {
    @include subtitle-text;
    margin-bottom: 40px;
    font-size: 36px;

    @include tablet {
      font-size: 64px;

    }
  }
}