.tours-hero {
  background: radial-gradient(circle at 50% 40%, rgba(172, 126, 102, 0.69) 1%, rgba(238, 130, 238, 0) 70%), $accent-color;

  @include tablet {
    padding-bottom: 50px;
  }

  .about__title-wrap {
    position: relative;

    .lamp-img-wrap {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 335px;

      @include tablet {
        top: 100px;
      }

      @include laptop {
        top: 60px;
      }
    }
  }

  .tours-title {
    margin-bottom: 158px;
    position: relative;
    top: 0;
    z-index: 2;

    @include laptop {
      width: 20%
    }
  }
}

.tours-section {

  padding-top: 20px;
  padding-bottom: 20px;

}

.tours {
  padding: 25px 20px 40px 20px;

  border-radius: 20px;
  margin-top: 0;
}

.tours-filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4px;
  margin-bottom: 25px;

  &__btn {
    padding: 5px 14px;
    border-radius: 8px;
    border: 1px solid $text-color-2;
    transition: border-color 0.4s ease-in-out, background-color 0.4s ease-in-out;

    &.active {
      border-color: $bg-color;
      background-color: $bg-color;

      span {
        color: $text-color;
      }
    }

    span {
      @include general-text;
      color: $bg-color;
      transition: color 0.4s ease-in-out;
    }
  }
}