ul.breadcrumbs.container
  li.breadcrumbs-item
    a(href="/").breadcrumbs-item__link Головна
    span ·
  if breadcrumbsSubitem
    each v in breadcrumbsSubitem
      li.breadcrumbs-item
        a(href="#").breadcrumbs-item__link= v.label
        span ·
  li.breadcrumbs-item__current--color.breadcrumbs-item= title_page
