header(class="header "+headerCustomClass)
  .header-bg
    a(href="/").logo-wrap
      <svg xmlns="http://www.w3.org/2000/svg" width="102" height="34" viewBox="0 0 102 34" fill="none">
        <g clip-path="url(#clip0_747_386)">
          <path d="M0 3.92769V0H17.7795V3.92769H11.2734V22.097H6.53616V3.92769H0Z" fill="#F6F6F6"/>
          <path d="M19.0988 0H23.5062L26.9541 15.7108L31.1217 0H34.9894L39.127 15.4409L42.545 0H46.9524L42.0653 22.097H36.8483L33.0106 7.61552L29.2028 22.097H23.9859L19.0988 0Z" fill="#F6F6F6"/>
          <path d="M49.9206 22.097V0H54.6578V22.097H49.9206Z" fill="#F6F6F6"/>
          <path d="M59.2152 22.097V0H64.7619L74.5362 15.5908V0H79.2734V22.097H73.7266L63.9524 6.50617V22.097H59.2152Z" fill="#F6F6F6"/>
          <path d="M82.8712 14.9612H87.7884C87.7884 15.9806 88.2381 16.7901 89.1376 17.4198C90.037 18.0194 91.2963 18.3492 92.9153 18.3492C94.1446 18.3492 95.134 18.1094 95.8836 17.6596C96.6331 17.1799 97.0229 16.5802 97.0229 15.8607C97.0229 15.261 96.7831 14.7513 96.3033 14.3915C95.8236 14.0018 95.164 13.7019 94.3845 13.522C93.6049 13.3122 92.7354 13.1323 91.776 12.9824C90.8166 12.8325 89.8871 12.5926 88.9277 12.3228C87.9683 12.0529 87.0988 11.6631 86.3192 11.2434C85.5397 10.7937 84.91 10.134 84.4003 9.26455C83.9206 8.39506 83.6808 7.34568 83.6808 6.1164C83.6808 4.46737 84.4903 3.0582 86.1093 1.82893C87.7284 0.629631 89.9171 0.0299835 92.7055 0.0299835C94.3245 0.0299835 95.7337 0.23986 96.933 0.659613C98.1622 1.07937 99.0917 1.64903 99.7513 2.36861C100.411 3.08818 100.921 3.80776 101.25 4.5873C101.58 5.36684 101.73 6.14639 101.73 6.98589H96.813C96.813 6.05644 96.4832 5.2769 95.8236 4.67725C95.164 4.0776 94.1146 3.77778 92.7055 3.77778C91.5362 3.77778 90.5467 3.98766 89.7972 4.40741C89.0176 4.82716 88.6279 5.39683 88.6279 6.1164C88.6279 6.83598 88.8677 7.37566 89.3474 7.8254C89.8272 8.27513 90.4868 8.60494 91.2663 8.81482C92.0458 9.02469 92.9153 9.20459 93.8748 9.38448C94.8342 9.56437 95.7936 9.77425 96.7231 10.0141C97.6825 10.284 98.522 10.6138 99.3316 11.0035C100.111 11.4233 100.741 12.0229 101.25 12.8325C101.73 13.642 101.97 14.6614 101.97 15.8607C101.97 17.6596 101.19 19.1288 99.6014 20.328C98.0123 21.5273 95.7936 22.097 92.8854 22.097C91.1164 22.097 89.5873 21.8871 88.2381 21.4674C86.8889 21.0476 85.8395 20.5079 85.0899 19.7884C84.3404 19.0988 83.7707 18.3492 83.381 17.5097C83.0511 16.7002 82.8712 15.8607 82.8712 14.9612Z" fill="#F6F6F6"/>
          <path d="M0 33.94V29.7425H1.25926C1.79894 29.7425 2.21869 29.8624 2.5485 30.0723C2.84832 30.2822 2.99824 30.612 2.99824 31.0617C2.99824 31.6614 2.66843 32.0811 2.0388 32.231L2.99824 33.94H2.36861L1.43915 32.321H0.539683V33.94H0ZM0.539683 31.8113H1.28924C1.61905 31.8113 1.88889 31.7513 2.09877 31.6314C2.30864 31.5115 2.39859 31.3016 2.39859 31.0617C2.39859 30.7619 2.27866 30.552 2.06878 30.4321C1.85891 30.3122 1.55908 30.2222 1.19929 30.2222H0.479718V31.8113H0.539683Z" fill="#F6F6F6"/>
          <path d="M5.72663 33.94V29.7425H8.45503V30.2522H6.23633V31.4815H8.06526V31.9912H6.23633V33.4603H8.45503V33.97H5.72663V33.94Z" fill="#F6F6F6"/>
          <path d="M11.0035 32.6208H11.5432C11.5432 32.8907 11.6332 33.1005 11.843 33.2804C12.0529 33.4603 12.3527 33.5503 12.7425 33.5503C13.0723 33.5503 13.3421 33.4903 13.522 33.3404C13.7019 33.2205 13.7919 33.0406 13.7919 32.8007C13.7919 32.6508 13.7319 32.5309 13.642 32.4109C13.552 32.321 13.4021 32.231 13.2522 32.2011C13.1023 32.1711 12.9224 32.1111 12.7425 32.0811C12.5626 32.0511 12.3527 32.0212 12.1728 31.9612C11.9929 31.9012 11.8131 31.8413 11.6631 31.7813C11.5132 31.7213 11.3633 31.6014 11.2734 31.4215C11.1834 31.2716 11.1235 31.0617 11.1235 30.8219C11.1235 30.4921 11.2434 30.1922 11.5132 29.9824C11.7831 29.7725 12.1429 29.6526 12.6226 29.6526C12.9224 29.6526 13.1623 29.6825 13.4021 29.7725C13.612 29.8624 13.7619 29.9524 13.8818 30.1023C14.0018 30.2222 14.0617 30.3721 14.1217 30.522C14.1817 30.672 14.1817 30.8219 14.1817 31.0018H13.642C13.642 30.4021 13.3122 30.1023 12.6226 30.1023C12.3227 30.1023 12.1129 30.1623 11.933 30.2822C11.7531 30.4021 11.6631 30.582 11.6631 30.8219C11.6631 31.0018 11.7231 31.1517 11.8131 31.2416C11.903 31.3616 12.0529 31.4215 12.2028 31.4815C12.3527 31.5414 12.5326 31.5714 12.7125 31.6014C12.8924 31.6314 13.1023 31.6614 13.2822 31.7213C13.4621 31.7513 13.642 31.8113 13.7919 31.9012C13.9418 31.9612 14.0917 32.0811 14.1817 32.231C14.2716 32.381 14.3316 32.5608 14.3316 32.8007C14.3316 33.1605 14.1817 33.4603 13.8818 33.6702C13.582 33.8801 13.1922 34 12.6825 34C12.3827 34 12.1129 33.97 11.873 33.8801C11.6332 33.7901 11.4533 33.7002 11.3333 33.5503C11.2134 33.4004 11.0935 33.2804 11.0335 33.1005C10.9735 32.9206 11.0035 32.7707 11.0035 32.6208Z" fill="#F6F6F6"/>
          <path d="M17.0899 33.94V29.7425H17.6296V33.94H17.0899Z" fill="#F6F6F6"/>
          <path d="M20.5379 33.94V29.7425H22.2169C22.7866 29.7425 23.2663 29.9224 23.6561 30.2822C24.0459 30.642 24.2257 31.1517 24.2257 31.8113C24.2257 32.4709 24.0159 32.9806 23.6261 33.3704C23.2363 33.7601 22.7566 33.94 22.2169 33.94H20.5379ZM21.0776 33.4303H22.2169C22.5767 33.4303 22.9065 33.2804 23.2063 32.9806C23.5062 32.6808 23.6561 32.291 23.6561 31.7813C23.6561 31.3016 23.5062 30.9118 23.2363 30.612C22.9665 30.3122 22.6067 30.1922 22.2169 30.1922H21.0776V33.4303Z" fill="#F6F6F6"/>
          <path d="M26.9242 33.94V29.7425H29.6526V30.2522H27.4339V31.4815H29.2628V31.9912H27.4339V33.4603H29.6526V33.97H26.9242V33.94Z" fill="#F6F6F6"/>
          <path d="M32.381 33.94V29.7425H32.9506L35.2593 33.1605V29.7125H35.7989V33.9101H35.2293L32.9206 30.4921V33.9101H32.381V33.94Z" fill="#F6F6F6"/>
          <path d="M38.3774 30.2222V29.7125H41.5256V30.2222H40.2064V33.94H39.6667V30.2222H38.3774Z" fill="#F6F6F6"/>
          <path d="M44.1041 33.94V29.7425H44.6437V33.94H44.1041Z" fill="#F6F6F6"/>
          <path d="M47.2522 33.94L48.9312 29.7425H49.4709L51.1499 33.94H50.5802L50.1605 32.8307H48.1817L47.7619 33.94H47.2522ZM48.3915 32.321H49.9806L49.2011 30.3122L48.3915 32.321Z" fill="#F6F6F6"/>
          <path d="M53.7584 33.94V29.7425H54.2981V33.4603H56.3069V33.97H53.7584V33.94Z" fill="#F6F6F6"/>
          <path d="M62.3933 31.7813C62.3933 31.0917 62.6032 30.582 62.9929 30.1922C63.3827 29.8324 63.8624 29.6226 64.4621 29.6226C65.0018 29.6226 65.4215 29.7425 65.7213 30.0123C66.0212 30.2822 66.2011 30.582 66.2011 30.9718H65.6014C65.6014 30.7619 65.5115 30.552 65.3016 30.3721C65.0917 30.1922 64.8219 30.1023 64.4921 30.1023C64.0723 30.1023 63.7425 30.2522 63.4427 30.552C63.1429 30.8519 62.9929 31.2416 62.9929 31.7813C62.9929 32.291 63.1429 32.7108 63.4427 33.0406C63.7425 33.3704 64.1023 33.5203 64.4921 33.5203C64.8219 33.5203 65.1217 33.4303 65.3316 33.2205C65.5414 33.0106 65.6314 32.8007 65.6314 32.5908H66.231C66.231 32.9506 66.0811 33.2804 65.7513 33.5802C65.4215 33.8801 65.0018 34 64.4921 34C63.8924 34 63.4127 33.7901 63.0229 33.4004C62.5732 33.0106 62.3933 32.4709 62.3933 31.7813Z" fill="#F6F6F6"/>
          <path d="M68.7196 31.7813C68.7196 31.1217 68.8995 30.582 69.2892 30.2222C69.679 29.8624 70.1587 29.6526 70.7584 29.6526C71.358 29.6526 71.8677 29.8325 72.2275 30.2222C72.5873 30.612 72.7972 31.1217 72.7972 31.7813C72.7972 32.4409 72.6173 32.9806 72.2275 33.3704C71.8377 33.7601 71.358 33.97 70.7584 33.97C70.1587 33.97 69.679 33.7601 69.2892 33.3704C68.8995 33.0106 68.7196 32.4709 68.7196 31.7813ZM69.2593 31.7813C69.2593 32.291 69.4092 32.7108 69.709 33.0406C70.0088 33.3704 70.3386 33.5203 70.7584 33.5203C71.1781 33.5203 71.5379 33.3704 71.8078 33.0406C72.1076 32.7108 72.2575 32.291 72.2575 31.7813C72.2575 31.2716 72.1076 30.8818 71.8377 30.582C71.5379 30.2822 71.2081 30.1323 70.7884 30.1323C70.3686 30.1323 70.0088 30.2822 69.739 30.582C69.4092 30.8818 69.2593 31.3016 69.2593 31.7813Z" fill="#F6F6F6"/>
          <path d="M75.5556 33.94V29.7425H76.1252L77.5344 32.1411L78.9436 29.7425H79.5132V33.94H78.9735V30.552L77.7143 32.7707H77.3545L76.0952 30.612V33.97H75.5556V33.94Z" fill="#F6F6F6"/>
          <path d="M82.3915 33.94V29.7425H83.6508C84.8201 29.7425 85.3898 30.1922 85.3898 31.0617C85.3898 31.5415 85.2398 31.8713 84.94 32.1111C84.6402 32.351 84.1905 32.4409 83.6508 32.4409H82.9312V33.94H82.3915ZM82.9312 31.9312H83.6808C84.4303 31.9312 84.8201 31.6314 84.8201 31.0318C84.8201 30.7319 84.7302 30.5221 84.5203 30.4021C84.3104 30.2822 84.0106 30.2222 83.6508 30.2222H82.9312V31.9312Z" fill="#F6F6F6"/>
          <path d="M88.1182 33.94V29.7425H88.6579V33.4603H90.6667V33.97H88.1182V33.94Z" fill="#F6F6F6"/>
          <path d="M93.2751 33.94V29.7425H96.0035V30.2522H93.7848V31.4815H95.6138V31.9912H93.7848V33.4603H96.0035V33.97H93.2751V33.94Z" fill="#F6F6F6"/>
          <path d="M98.4021 33.94L99.8413 31.8413L98.4621 29.7425H99.0617L100.201 31.5115L101.34 29.7425H101.94L100.561 31.8413L102 33.94H101.34L100.231 32.231L99.0617 33.94H98.4021Z" fill="#F6F6F6"/>
        </g>
        <defs>
        <clipPath id="clip0_747_386">
          <rect width="102" height="34" fill="white"/>
        </clipPath>
        </defs>
      </svg>
    .buttons-wrap 
      a(href="" target="").accent-btn ОБРАТИ КВАРТИРУ
      button.call-back(data-call-us-btn) ЗВОРОТНІЙ ДЗВІНОК
    .menu-btn 
      span.over 
      span.center 
      span.under 
.iframe-popup(data-iframe-modal) 
  iframe(src="https://apartment-tours.smartorange.com.ua/twins-day-floors/?scene=0" loading="lazy" allowfullscreen="true").iframe-window
  .iframe-filter 
    button(type="button" data-day="day").general-btn.active День
    button(type="button" data-day="night").general-btn Ніч
    button(type="button" data-day="sunset").general-btn Захід сонця
  .iframe__close-btn(data-iframe-close)
    <svg xmlns="http://www.w3.org/2000/svg" width="17" height="16" viewBox="0 0 17 16" fill="none">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M3.96967 3.46967C4.26256 3.17678 4.73744 3.17678 5.03033 3.46967L8.5 6.93934L11.9697 3.46967C12.2626 3.17678 12.7374 3.17678 13.0303 3.46967C13.3232 3.76256 13.3232 4.23744 13.0303 4.53033L9.56066 8L13.0303 11.4697C13.3232 11.7626 13.3232 12.2374 13.0303 12.5303C12.7374 12.8232 12.2626 12.8232 11.9697 12.5303L8.5 9.06066L5.03033 12.5303C4.73744 12.8232 4.26256 12.8232 3.96967 12.5303C3.67678 12.2374 3.67678 11.7626 3.96967 11.4697L7.43934 8L3.96967 4.53033C3.67678 4.23744 3.67678 3.76256 3.96967 3.46967Z" fill="#221A22"/>
    </svg>



