header(class="header "+headerCustomClass)
  .header-bg
    a(href="/").logo-wrap
      <svg xmlns="http://www.w3.org/2000/svg" width="102" height="34" viewBox="0 0 102 34" fill="none">
        <g clip-path="url(#clip0_747_386)">
          <path d="M0 3.92769V0H17.7795V3.92769H11.2734V22.097H6.53616V3.92769H0Z" fill="#F6F6F6"/>
          <path d="M19.0988 0H23.5062L26.9541 15.7108L31.1217 0H34.9894L39.127 15.4409L42.545 0H46.9524L42.0653 22.097H36.8483L33.0106 7.61552L29.2028 22.097H23.9859L19.0988 0Z" fill="#F6F6F6"/>
          <path d="M49.9206 22.097V0H54.6578V22.097H49.9206Z" fill="#F6F6F6"/>
          <path d="M59.2152 22.097V0H64.7619L74.5362 15.5908V0H79.2734V22.097H73.7266L63.9524 6.50617V22.097H59.2152Z" fill="#F6F6F6"/>
          <path d="M82.8712 14.9612H87.7884C87.7884 15.9806 88.2381 16.7901 89.1376 17.4198C90.037 18.0194 91.2963 18.3492 92.9153 18.3492C94.1446 18.3492 95.134 18.1094 95.8836 17.6596C96.6331 17.1799 97.0229 16.5802 97.0229 15.8607C97.0229 15.261 96.7831 14.7513 96.3033 14.3915C95.8236 14.0018 95.164 13.7019 94.3845 13.522C93.6049 13.3122 92.7354 13.1323 91.776 12.9824C90.8166 12.8325 89.8871 12.5926 88.9277 12.3228C87.9683 12.0529 87.0988 11.6631 86.3192 11.2434C85.5397 10.7937 84.91 10.134 84.4003 9.26455C83.9206 8.39506 83.6808 7.34568 83.6808 6.1164C83.6808 4.46737 84.4903 3.0582 86.1093 1.82893C87.7284 0.629631 89.9171 0.0299835 92.7055 0.0299835C94.3245 0.0299835 95.7337 0.23986 96.933 0.659613C98.1622 1.07937 99.0917 1.64903 99.7513 2.36861C100.411 3.08818 100.921 3.80776 101.25 4.5873C101.58 5.36684 101.73 6.14639 101.73 6.98589H96.813C96.813 6.05644 96.4832 5.2769 95.8236 4.67725C95.164 4.0776 94.1146 3.77778 92.7055 3.77778C91.5362 3.77778 90.5467 3.98766 89.7972 4.40741C89.0176 4.82716 88.6279 5.39683 88.6279 6.1164C88.6279 6.83598 88.8677 7.37566 89.3474 7.8254C89.8272 8.27513 90.4868 8.60494 91.2663 8.81482C92.0458 9.02469 92.9153 9.20459 93.8748 9.38448C94.8342 9.56437 95.7936 9.77425 96.7231 10.0141C97.6825 10.284 98.522 10.6138 99.3316 11.0035C100.111 11.4233 100.741 12.0229 101.25 12.8325C101.73 13.642 101.97 14.6614 101.97 15.8607C101.97 17.6596 101.19 19.1288 99.6014 20.328C98.0123 21.5273 95.7936 22.097 92.8854 22.097C91.1164 22.097 89.5873 21.8871 88.2381 21.4674C86.8889 21.0476 85.8395 20.5079 85.0899 19.7884C84.3404 19.0988 83.7707 18.3492 83.381 17.5097C83.0511 16.7002 82.8712 15.8607 82.8712 14.9612Z" fill="#F6F6F6"/>
          <path d="M0 33.94V29.7425H1.25926C1.79894 29.7425 2.21869 29.8624 2.5485 30.0723C2.84832 30.2822 2.99824 30.612 2.99824 31.0617C2.99824 31.6614 2.66843 32.0811 2.0388 32.231L2.99824 33.94H2.36861L1.43915 32.321H0.539683V33.94H0ZM0.539683 31.8113H1.28924C1.61905 31.8113 1.88889 31.7513 2.09877 31.6314C2.30864 31.5115 2.39859 31.3016 2.39859 31.0617C2.39859 30.7619 2.27866 30.552 2.06878 30.4321C1.85891 30.3122 1.55908 30.2222 1.19929 30.2222H0.479718V31.8113H0.539683Z" fill="#F6F6F6"/>
          <path d="M5.72663 33.94V29.7425H8.45503V30.2522H6.23633V31.4815H8.06526V31.9912H6.23633V33.4603H8.45503V33.97H5.72663V33.94Z" fill="#F6F6F6"/>
          <path d="M11.0035 32.6208H11.5432C11.5432 32.8907 11.6332 33.1005 11.843 33.2804C12.0529 33.4603 12.3527 33.5503 12.7425 33.5503C13.0723 33.5503 13.3421 33.4903 13.522 33.3404C13.7019 33.2205 13.7919 33.0406 13.7919 32.8007C13.7919 32.6508 13.7319 32.5309 13.642 32.4109C13.552 32.321 13.4021 32.231 13.2522 32.2011C13.1023 32.1711 12.9224 32.1111 12.7425 32.0811C12.5626 32.0511 12.3527 32.0212 12.1728 31.9612C11.9929 31.9012 11.8131 31.8413 11.6631 31.7813C11.5132 31.7213 11.3633 31.6014 11.2734 31.4215C11.1834 31.2716 11.1235 31.0617 11.1235 30.8219C11.1235 30.4921 11.2434 30.1922 11.5132 29.9824C11.7831 29.7725 12.1429 29.6526 12.6226 29.6526C12.9224 29.6526 13.1623 29.6825 13.4021 29.7725C13.612 29.8624 13.7619 29.9524 13.8818 30.1023C14.0018 30.2222 14.0617 30.3721 14.1217 30.522C14.1817 30.672 14.1817 30.8219 14.1817 31.0018H13.642C13.642 30.4021 13.3122 30.1023 12.6226 30.1023C12.3227 30.1023 12.1129 30.1623 11.933 30.2822C11.7531 30.4021 11.6631 30.582 11.6631 30.8219C11.6631 31.0018 11.7231 31.1517 11.8131 31.2416C11.903 31.3616 12.0529 31.4215 12.2028 31.4815C12.3527 31.5414 12.5326 31.5714 12.7125 31.6014C12.8924 31.6314 13.1023 31.6614 13.2822 31.7213C13.4621 31.7513 13.642 31.8113 13.7919 31.9012C13.9418 31.9612 14.0917 32.0811 14.1817 32.231C14.2716 32.381 14.3316 32.5608 14.3316 32.8007C14.3316 33.1605 14.1817 33.4603 13.8818 33.6702C13.582 33.8801 13.1922 34 12.6825 34C12.3827 34 12.1129 33.97 11.873 33.8801C11.6332 33.7901 11.4533 33.7002 11.3333 33.5503C11.2134 33.4004 11.0935 33.2804 11.0335 33.1005C10.9735 32.9206 11.0035 32.7707 11.0035 32.6208Z" fill="#F6F6F6"/>
          <path d="M17.0899 33.94V29.7425H17.6296V33.94H17.0899Z" fill="#F6F6F6"/>
          <path d="M20.5379 33.94V29.7425H22.2169C22.7866 29.7425 23.2663 29.9224 23.6561 30.2822C24.0459 30.642 24.2257 31.1517 24.2257 31.8113C24.2257 32.4709 24.0159 32.9806 23.6261 33.3704C23.2363 33.7601 22.7566 33.94 22.2169 33.94H20.5379ZM21.0776 33.4303H22.2169C22.5767 33.4303 22.9065 33.2804 23.2063 32.9806C23.5062 32.6808 23.6561 32.291 23.6561 31.7813C23.6561 31.3016 23.5062 30.9118 23.2363 30.612C22.9665 30.3122 22.6067 30.1922 22.2169 30.1922H21.0776V33.4303Z" fill="#F6F6F6"/>
          <path d="M26.9242 33.94V29.7425H29.6526V30.2522H27.4339V31.4815H29.2628V31.9912H27.4339V33.4603H29.6526V33.97H26.9242V33.94Z" fill="#F6F6F6"/>
          <path d="M32.381 33.94V29.7425H32.9506L35.2593 33.1605V29.7125H35.7989V33.9101H35.2293L32.9206 30.4921V33.9101H32.381V33.94Z" fill="#F6F6F6"/>
          <path d="M38.3774 30.2222V29.7125H41.5256V30.2222H40.2064V33.94H39.6667V30.2222H38.3774Z" fill="#F6F6F6"/>
          <path d="M44.1041 33.94V29.7425H44.6437V33.94H44.1041Z" fill="#F6F6F6"/>
          <path d="M47.2522 33.94L48.9312 29.7425H49.4709L51.1499 33.94H50.5802L50.1605 32.8307H48.1817L47.7619 33.94H47.2522ZM48.3915 32.321H49.9806L49.2011 30.3122L48.3915 32.321Z" fill="#F6F6F6"/>
          <path d="M53.7584 33.94V29.7425H54.2981V33.4603H56.3069V33.97H53.7584V33.94Z" fill="#F6F6F6"/>
          <path d="M62.3933 31.7813C62.3933 31.0917 62.6032 30.582 62.9929 30.1922C63.3827 29.8324 63.8624 29.6226 64.4621 29.6226C65.0018 29.6226 65.4215 29.7425 65.7213 30.0123C66.0212 30.2822 66.2011 30.582 66.2011 30.9718H65.6014C65.6014 30.7619 65.5115 30.552 65.3016 30.3721C65.0917 30.1922 64.8219 30.1023 64.4921 30.1023C64.0723 30.1023 63.7425 30.2522 63.4427 30.552C63.1429 30.8519 62.9929 31.2416 62.9929 31.7813C62.9929 32.291 63.1429 32.7108 63.4427 33.0406C63.7425 33.3704 64.1023 33.5203 64.4921 33.5203C64.8219 33.5203 65.1217 33.4303 65.3316 33.2205C65.5414 33.0106 65.6314 32.8007 65.6314 32.5908H66.231C66.231 32.9506 66.0811 33.2804 65.7513 33.5802C65.4215 33.8801 65.0018 34 64.4921 34C63.8924 34 63.4127 33.7901 63.0229 33.4004C62.5732 33.0106 62.3933 32.4709 62.3933 31.7813Z" fill="#F6F6F6"/>
          <path d="M68.7196 31.7813C68.7196 31.1217 68.8995 30.582 69.2892 30.2222C69.679 29.8624 70.1587 29.6526 70.7584 29.6526C71.358 29.6526 71.8677 29.8325 72.2275 30.2222C72.5873 30.612 72.7972 31.1217 72.7972 31.7813C72.7972 32.4409 72.6173 32.9806 72.2275 33.3704C71.8377 33.7601 71.358 33.97 70.7584 33.97C70.1587 33.97 69.679 33.7601 69.2892 33.3704C68.8995 33.0106 68.7196 32.4709 68.7196 31.7813ZM69.2593 31.7813C69.2593 32.291 69.4092 32.7108 69.709 33.0406C70.0088 33.3704 70.3386 33.5203 70.7584 33.5203C71.1781 33.5203 71.5379 33.3704 71.8078 33.0406C72.1076 32.7108 72.2575 32.291 72.2575 31.7813C72.2575 31.2716 72.1076 30.8818 71.8377 30.582C71.5379 30.2822 71.2081 30.1323 70.7884 30.1323C70.3686 30.1323 70.0088 30.2822 69.739 30.582C69.4092 30.8818 69.2593 31.3016 69.2593 31.7813Z" fill="#F6F6F6"/>
          <path d="M75.5556 33.94V29.7425H76.1252L77.5344 32.1411L78.9436 29.7425H79.5132V33.94H78.9735V30.552L77.7143 32.7707H77.3545L76.0952 30.612V33.97H75.5556V33.94Z" fill="#F6F6F6"/>
          <path d="M82.3915 33.94V29.7425H83.6508C84.8201 29.7425 85.3898 30.1922 85.3898 31.0617C85.3898 31.5415 85.2398 31.8713 84.94 32.1111C84.6402 32.351 84.1905 32.4409 83.6508 32.4409H82.9312V33.94H82.3915ZM82.9312 31.9312H83.6808C84.4303 31.9312 84.8201 31.6314 84.8201 31.0318C84.8201 30.7319 84.7302 30.5221 84.5203 30.4021C84.3104 30.2822 84.0106 30.2222 83.6508 30.2222H82.9312V31.9312Z" fill="#F6F6F6"/>
          <path d="M88.1182 33.94V29.7425H88.6579V33.4603H90.6667V33.97H88.1182V33.94Z" fill="#F6F6F6"/>
          <path d="M93.2751 33.94V29.7425H96.0035V30.2522H93.7848V31.4815H95.6138V31.9912H93.7848V33.4603H96.0035V33.97H93.2751V33.94Z" fill="#F6F6F6"/>
          <path d="M98.4021 33.94L99.8413 31.8413L98.4621 29.7425H99.0617L100.201 31.5115L101.34 29.7425H101.94L100.561 31.8413L102 33.94H101.34L100.231 32.231L99.0617 33.94H98.4021Z" fill="#F6F6F6"/>
        </g>
        <defs>
        <clipPath id="clip0_747_386">
          <rect width="102" height="34" fill="white"/>
        </clipPath>
        </defs>
      </svg>
    .buttons-wrap 
      button(data-call-us-btn).accent-btn 
        span Залишити заявку
      button(data-call-us-btn).link-wave.call-us-btn
        span Залишити заявку
        <svg class="link__graphic link__graphic--slide" width="300%" height="100%" viewBox="0 0 1200 60" preserveAspectRatio="none">
          <path d="M0,56.5c0,0,298.666,0,399.333,0C448.336,56.5,513.994,46,597,46c77.327,0,135,10.5,200.999,10.5c95.996,0,402.001,0,402.001,0"></path>
        </svg>
    .menu-btn(data-menu-button) 
      span.text Меню
      .menu-wrap
        span.over 
        span.center 
        span.under 
.iframe-popup(data-iframe-modal) 
  iframe(src="" loading="lazy" allowfullscreen="true").iframe-window
  .iframe-filter 
    button(type="button" data-day="day").general-btn.active День
    button(type="button" data-day="night").general-btn Ніч
    button(type="button" data-day="sunset").general-btn Захід сонця
  .iframe__close-btn(data-iframe-close)
    <svg xmlns="http://www.w3.org/2000/svg" width="17" height="16" viewBox="0 0 17 16" fill="none">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M3.96967 3.46967C4.26256 3.17678 4.73744 3.17678 5.03033 3.46967L8.5 6.93934L11.9697 3.46967C12.2626 3.17678 12.7374 3.17678 13.0303 3.46967C13.3232 3.76256 13.3232 4.23744 13.0303 4.53033L9.56066 8L13.0303 11.4697C13.3232 11.7626 13.3232 12.2374 13.0303 12.5303C12.7374 12.8232 12.2626 12.8232 11.9697 12.5303L8.5 9.06066L5.03033 12.5303C4.73744 12.8232 4.26256 12.8232 3.96967 12.5303C3.67678 12.2374 3.67678 11.7626 3.96967 11.4697L7.43934 8L3.96967 4.53033C3.67678 4.23744 3.67678 3.76256 3.96967 3.46967Z" fill="#221A22"/>
    </svg>
.overflow(data-call-us__overflow).hidden
  .form-wrap(data-call-us-modal)
    .close-btn(data-call-us-modal-close) 
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M3.99992 2.79285L4.35348 3.1464L11.9999 10.7928L19.6464 3.1464L19.9999 2.79285L20.707 3.49995L20.3535 3.85351L12.707 11.5L20.3535 19.1464L20.707 19.5L19.9999 20.2071L19.6464 19.8535L11.9999 12.2071L4.35348 19.8535L3.99992 20.2071L3.29282 19.5L3.64637 19.1464L11.2928 11.5L3.64637 3.85351L3.29282 3.49995L3.99992 2.79285Z" fill="#F6F6F6"/>
      </svg>
    .form-title Зворотній дзвінок
    .form-descr Якщо у вас лишилися запитання ми з радістю відповімо вам
    +form
.menu-container.hidden(data-menu)
  .menu-list 
    .left-block
      a(href="/").menu-item 
        span Головна
      a(href="/about.html").menu-item 
        span ПРО КОМПЛЕКС
      a(href="/panorama.html").menu-item 
        span 360° ПАНОРАМА
      a(href="/tours.html").menu-item 
        span 3D ШОУРУМ
    .right-block
      a(href="/gallery.html").menu-item 
        span ГАЛЕРЕЯ
      a(href="/progress.html").menu-item 
        span ХІД БУДІВНИЦТВА
      a(href="/news.html").menu-item 
        span НОВИНИ ТА АКЦІЇ
      a(href="#footer" data-menu-button).menu-item
        span КОНТАКТИ
  .menu-blocks__wrap 
    .big-blocks__wrap 
      a(href="/").menu-block 
        .menu-block__text 
          <svg xmlns="http://www.w3.org/2000/svg" width="8" height="6" viewBox="0 0 8 6" fill="none">
            <rect x="5" y="5.5" width="2" height="2" rx="1" transform="rotate(180 5 5.5)" fill="#F6F6F6"/>
            <rect x="2" y="2.5" width="2" height="2" rx="1" transform="rotate(180 2 2.5)" fill="#F6F6F6"/>
            <rect x="8" y="2.5" width="2" height="2" rx="1" transform="rotate(180 8 2.5)" fill="#F6F6F6"/>
          </svg>
          p Обрати квартиру
        .deap-mask
        .menu-img__wrap.house
          img(src="./assets/images/Menu/house.png" alt="House").menu-block__img
        .top-mask
      a(href="/property.html").menu-block 
        .menu-block__text 
          <svg xmlns="http://www.w3.org/2000/svg" width="8" height="6" viewBox="0 0 8 6" fill="none">
            <rect x="5" y="5.5" width="2" height="2" rx="1" transform="rotate(180 5 5.5)" fill="#F6F6F6"/>
            <rect x="2" y="2.5" width="2" height="2" rx="1" transform="rotate(180 2 2.5)" fill="#F6F6F6"/>
            <rect x="8" y="2.5" width="2" height="2" rx="1" transform="rotate(180 8 2.5)" fill="#F6F6F6"/>
          </svg>
          p КОМЕРЦІЙНА НЕРУХОМІСТЬ
        .deap-mask
        .menu-img__wrap.girl
          img(src="./assets/images/Menu/girl.png" alt="Girl").menu-block__img
        .top-mask
    .menu-contact-block 
      a(href="tel:+380672632222").phone.link-wave
        span +38 067 263 22 22
        <svg class="link__graphic link__graphic--slide" width="300%" height="100%" viewBox="0 0 1200 60" preserveAspectRatio="none">
          <path d="M0,56.5c0,0,298.666,0,399.333,0C448.336,56.5,513.994,46,597,46c77.327,0,135,10.5,200.999,10.5c95.996,0,402.001,0,402.001,0"></path>
        </svg>
      .menu-socials
        a(href="https://t.me/twinsvn" target="_blank" rel="noopener noreferrer")
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
            <path d="M6.27827 9.9088L6.0136 13.2592C6.39227 13.2592 6.55628 13.1128 6.75295 12.937L8.52832 11.41L12.2071 13.8346C12.8818 14.173 13.3571 13.9948 13.5391 13.276L15.9538 3.09284L15.9545 3.09224C16.1685 2.19464 15.5938 1.84364 14.9365 2.06384L0.742803 6.95442C-0.225887 7.29282 -0.21122 7.77881 0.578132 7.99901L4.20689 9.01481L12.6358 4.26823C13.0324 4.03183 13.3931 4.16263 13.0964 4.39903L6.27827 9.9088Z" fill="#F6F6F6" fill-opacity="0.964706" />
          </svg>
        a(href="https://wa.me/qr/GB4B4WNZDFFWN1" target="_blank" rel="noopener noreferrer")
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
            <path d="M4.41883 13.4622L4.66072 13.6049C5.67715 14.2055 6.84247 14.523 8.03082 14.5237H8.03341C11.683 14.5237 14.6533 11.5673 14.6546 7.93375C14.6552 6.17279 13.9672 4.51717 12.7171 3.27147C11.4669 2.026 9.80464 1.33962 8.03577 1.33889C4.38346 1.33889 1.41316 4.29482 1.41178 7.92836C1.4113 9.17348 1.76117 10.3861 2.42407 11.4352L2.58163 11.6846L1.91258 14.1163L4.41883 13.4622ZM0 16L1.13016 11.8916C0.433065 10.6892 0.0663412 9.32525 0.0669153 7.92799C0.0686145 3.5565 3.64207 0 8.03357 0C10.1645 0.000914442 12.1647 0.826564 13.6688 2.3252C15.1727 3.82381 16.0007 5.81585 16 7.93439C15.9981 12.3057 12.4239 15.8628 8.03357 15.8628C8.03325 15.8628 8.03373 15.8628 8.03357 15.8628H8.03017C6.69692 15.8624 5.38686 15.5294 4.22331 14.8976L0 16Z" fill="#F6F6F6" fill-opacity="0.964706" />
            <path d="M0.0669158 7.92823C0.0664336 9.32547 0.43316 10.6896 1.13026 11.8919L0 16L4.22322 14.8976C5.38684 15.5293 6.69684 15.8623 8.0301 15.8628H8.03351C12.4239 15.8628 15.9982 12.3056 16 7.93438C16.0007 5.81573 15.1727 3.82374 13.6687 2.3252C12.1645 0.826656 10.1645 0.000914441 8.03351 0C3.6422 0 0.0686189 3.55649 0.0667818 7.92798M2.58174 11.6847L2.4241 11.4355C1.76119 10.3862 1.41131 9.17358 1.4118 7.92857C1.41324 4.29527 4.3835 1.33911 8.03585 1.33911C9.80454 1.33979 11.4668 2.02624 12.7172 3.27169C13.9674 4.51723 14.6553 6.17298 14.6549 7.93374C14.6532 11.5673 11.6829 14.5237 8.03334 14.5237H8.03075C6.84241 14.523 5.67699 14.2054 4.66063 13.605L4.41873 13.4622L1.9125 14.1164L2.58174 11.6847ZM8.03351 15.8628H8.03359H8.03351C8.03334 15.8628 8.03342 15.8628 8.03351 15.8628Z" fill="#F6F6F6" fill-opacity="0.964706" />
            <path fill-rule="evenodd" clip-rule="evenodd" d="M6.03394 4.37166C5.88647 4.01822 5.7313 4.01114 5.59104 4.00492C5.47625 3.99966 5.34497 4 5.21383 4C5.08254 4 4.8693 4.05312 4.68898 4.2655C4.5085 4.47789 4 4.9913 4 6.03545C4 7.0797 4.70542 8.0887 4.8037 8.23043C4.90214 8.37191 6.16542 10.5832 8.16594 11.4339C9.82869 12.1408 10.167 12.0002 10.5279 11.9648C10.8888 11.9295 11.6925 11.4516 11.8565 10.956C12.0205 10.4604 12.0205 10.0357 11.9714 9.94698C11.9222 9.85853 11.7909 9.80541 11.5941 9.69935C11.3972 9.5932 10.4295 9.07972 10.2491 9.00889C10.0686 8.93815 9.93738 8.90282 9.80609 9.1153C9.67488 9.32752 9.29791 9.80542 9.18303 9.94698C9.06824 10.0888 8.95337 10.1065 8.75655 10.0004C8.55965 9.89387 7.92569 9.66998 7.17366 8.94705C6.58849 8.38451 6.19348 7.68982 6.07861 7.47732C5.96381 7.26511 6.06635 7.15015 6.16504 7.04433C6.25348 6.94923 6.36194 6.79653 6.46039 6.67267C6.5586 6.54872 6.59136 6.46028 6.65697 6.31871C6.72266 6.17706 6.68981 6.05311 6.64063 5.94695C6.59136 5.8408 6.20885 4.79127 6.03383 4.3716" fill="#F6F6F6" fill-opacity="0.964706" />
          </svg>
        a(href="viber://chat?number=%2B380672632222" target="_blank" rel="noopener noreferrer" class="viber")
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
            <path d="M13.6939 1.56498C13.3081 1.20802 11.7646 0.0321653 8.29177 0.0111679C8.29177 0.0111679 4.20969 -0.240804 2.21942 1.64897C1.10243 2.80382 0.71656 4.46262 0.675942 6.54137C0.635325 8.62012 0.574403 12.5046 4.20969 13.5755V15.1923C4.20969 15.1923 4.18938 15.8432 4.59556 15.9692C5.10328 16.1372 5.3876 15.6333 5.87501 15.1083C6.13903 14.8144 6.50459 14.3944 6.7686 14.0584C9.24629 14.2684 11.1553 13.7855 11.3787 13.7015C11.8864 13.5335 14.7094 13.1556 15.1765 9.27104C15.6639 5.23953 14.9734 2.69884 13.6939 1.56498ZM14.1204 8.95608C13.7345 12.2107 11.4396 12.4206 11.0132 12.5466C10.8304 12.6096 9.16506 13.0296 7.05293 12.9036C7.05293 12.9036 5.48915 14.8563 4.98143 15.3813C4.90019 15.4653 4.81895 15.4863 4.75803 15.4863C4.67679 15.4653 4.65648 15.3603 4.65648 15.2133C4.65648 15.0033 4.67679 12.5256 4.67679 12.5256C1.61015 11.6437 1.79293 8.32615 1.81324 6.58336C1.85386 4.84057 2.15849 3.43375 3.0927 2.46786C4.77834 0.893056 8.25115 1.12403 8.25115 1.12403C11.1756 1.14503 12.5769 2.04791 12.9019 2.36288C13.9579 3.32876 14.5063 5.61748 14.1204 8.95608Z" fill="#F6F6F6" fill-opacity="0.964706" />
            <path d="M9.71298 6.45765C9.67237 5.65972 9.28662 5.23975 8.5354 5.19775" stroke="#F6F6F6" stroke-opacity="0.964706" stroke-width="0.666667" stroke-linecap="round" stroke-linejoin="round" />
            <path d="M10.7289 6.79324C10.7493 6.0583 10.5259 5.42836 10.0994 4.9454C9.65254 4.44144 9.04325 4.16846 8.27148 4.10547" stroke="#F6F6F6" stroke-opacity="0.964706" stroke-width="0.666667" stroke-linecap="round" stroke-linejoin="round" />
            <path d="M11.7443 7.21331C11.7443 5.93242 11.3584 4.9245 10.6273 4.18956C9.89615 3.45463 8.98222 3.07666 7.8855 3.07666" stroke="#F6F6F6" stroke-opacity="0.964706" stroke-width="0.666667" stroke-linecap="round" stroke-linejoin="round" />
            <path d="M8.57603 9.16619C8.57603 9.16619 8.86035 9.18718 9.00251 8.99821L9.28684 8.62025C9.429 8.43128 9.75394 8.30529 10.0992 8.49427C10.282 8.59926 10.6069 8.80923 10.81 8.97721C11.0334 9.14519 11.4802 9.52314 11.4802 9.52314C11.7036 9.71212 11.7442 9.98509 11.602 10.2791C11.4599 10.552 11.2568 10.804 10.9928 11.035C10.7897 11.2239 10.5866 11.3079 10.3835 11.3499H10.3023C10.221 11.3499 10.1195 11.3289 10.0383 11.3079C9.73363 11.2239 9.22591 10.993 8.35263 10.51C7.80429 10.1951 7.33719 9.8591 6.95132 9.54414C6.74823 9.37616 6.52483 9.18719 6.32174 8.95621L6.24051 8.87222C6.01711 8.64125 5.83433 8.43128 5.67186 8.2213C5.36722 7.82235 5.04228 7.33941 4.73765 6.77248C4.27054 5.89058 4.04715 5.36565 3.96591 5.02969C3.9456 4.9457 3.92529 4.86172 3.92529 4.75673V4.67273C3.9456 4.46276 4.04715 4.25278 4.22993 4.04281C4.45332 3.79084 4.69703 3.58087 4.96105 3.41289C5.24537 3.26591 5.50939 3.3079 5.69217 3.53887C5.69217 3.53887 6.05773 4.00082 6.2202 4.23179C6.36236 4.44177 6.56545 4.77773 6.6873 4.9667C6.87008 5.30266 6.74823 5.65962 6.58576 5.8066L6.2202 6.10056C6.03742 6.24754 6.05772 6.54151 6.05772 6.54151C6.05772 6.54151 6.56545 8.62026 8.57603 9.16619Z" fill="#F6F6F6" fill-opacity="0.964706" />
          </svg>



