
extends ../layout/main
block variable
  -
    var title_page = 'property'
    var id_page = 'id-page-property'
    var class_page = 'class-page-property'
    var headerCustomClass = 'type1' 
    var breadcrumbsSubitem = [
      {
        label: 'About',
        link: pagesLink[0].about
      }
    ]

block meta
  title= title_page
  meta(name='description' content='')
block head
  link(rel='stylesheet' href="./assets/styles/main.min.css")
block scripts
  script(defer src='./assets/scripts/vendors.bundle.js')
  script(defer src='./assets/scripts/header.bundle.js')
  script(defer src='./assets/scripts/footer.bundle.js')
  script(defer src='./assets/scripts/property.bundle.js')
block content
  section.page-hero.property-hero
    include ../includes/breadcrumbs.pug
    .about__title-wrap.container
      .line 
      h2.section-title.property-title-1 Комерційна
      h2.section-title.property-title-2 нерухомість
      .line-with-circle
        .line
        .decor-circle 
          +svg("points")
        .line
    .property-hero__img-descr-wrap.container
      p.page-hero-descr.container Тут ми доклали неабияких зусиль щоб вирізнятись з поміж інших. 
      .property-hero__img-wrap
        .mask
        .mask-border 
        img(src="./assets/images/Location/filler.jpg" alt="twins buildings")

  section.property-filler 
    .property-filler__text-block
      .about__text-block
        .about__text-wrap 
          p TWINS має виняткове фасадне скління панорамних вітрин висотою 6 метрів ексцентричних форм за останніми зразками світової архітектури.
            +svg("points")
          +svg('logo-mini')
    .property-filler__img-wrap 
      .mask 
      img(src="./assets/images/Hero/3.jpg" alt="twins buildings")
    .property-filler__text-block-2
      .about__text-block
        .about__text-wrap 
          p TWINS має виняткове фасадне скління панорамних вітрин висотою 6 метрів ексцентричних форм за останніми зразками світової архітектури.
            +svg("points")
          +svg('logo-mini')
  section.advantages.property-advantages
    .advantages-wrapper
      .advantages-list 
        .advantage-card.property-advantages__card
          .decor 
            +svg('points')
          .property-advantages__img-wrap
            .mask
            img(src="./assets/images/Advantages/1.jpg" alt="advantages")
          p.property-advantages__descr Великий вибір  фасадних приміщень різної площі
          .number-wrap
            +svg('logo-mini')
        .advantage-card.property-advantages__card
          .decor 
            +svg('points')
          .property-advantages__img-wrap
            .mask
            img(src="./assets/images/Advantages/1.jpg" alt="advantages")
          p.property-advantages__descr ідеальна локація
          .number-wrap
            +svg('logo-mini')
        .advantage-card.property-advantages__card
          .decor 
            +svg('points')
          .property-advantages__img-wrap
            .mask
            img(src="./assets/images/Advantages/1.jpg" alt="advantages")
          p.property-advantages__descr відмінна транспортна розв’язка
          .number-wrap
            +svg('logo-mini')
        .advantage-card.property-advantages__card
          .decor 
            +svg('points')
          .property-advantages__img-wrap
            .mask
            img(src="./assets/images/Advantages/1.jpg" alt="advantages")
          p.property-advantages__descr розвинена інфраструктура
          .number-wrap
            +svg('logo-mini')
        .advantage-card.property-advantages__card
          .decor 
            +svg('points')
          .property-advantages__img-wrap
            .mask
            img(src="./assets/images/Advantages/1.jpg" alt="advantages")
          p.property-advantages__descr великий потік цільового трафіку
          .number-wrap
            +svg('logo-mini')
      .property-advantages__plannings-wrap.container
        p усе це створює найоптимальніші умови для ведення бізнесу
        .short-line 
        a(href="").accent-btn 
          span ПЕРЕГЛЯНУТИ ПЛАНУВАННЯ
block footer
  include ../includes/footer.pug

block header
  include ../includes/header.pug
