
extends ../layout/main
block variable
  -
    var title_page = 'tours'
    var id_page = 'id-page-tours'
    var class_page = 'class-page-tours'
    var headerCustomClass = 'type1' 
    var breadcrumbsSubitem = [
      {
        label: 'About',
        link: pagesLink[0].about
      }
    ]

block meta
  title= title_page
  meta(name='description' content='')
block head
  link(rel='stylesheet' href="./assets/styles/main.min.css")
block scripts
  script(defer src='./assets/scripts/vendors.bundle.js')
  script(defer src='./assets/scripts/header.bundle.js')
  script(defer src='./assets/scripts/footer.bundle.js')
  script(defer src='./assets/scripts/tours.bundle.js')
block content
  section.page-hero.tours-hero
    include ../includes/breadcrumbs.pug
    .about__title-wrap.container
      .line 
      h1.section-title.tours-title 3D ШОУРУМ
      img(src="./assets/images/lamp.png" alt="lamp").lamp-img-wrap

      .line-with-circle
        .line
        .decor-circle 
          +svg("points")
        .line
    .tours-section
      .tours.tour
        .tours-filter
          button.tours-filter__btn(data-tour="1A" data-src="https://apartment-tours.smartorange.com.ua/twins-1g/?scene=0" data-descr="1Простора однокімнатна квартира з панорамним видом на центральний парк міста. Передпокій обладнаний вбудованими шафами. Сучасна вбиральня з якісною сантехнікою. Світла кухня, розділена на зону приготування, обідню зону та затишний куточок для відпочинку. ").active
            span 1A
          button.tours-filter__btn(data-tour="1Б" data-src="https://apartment-tours.smartorange.com.ua/twins-1g/?scene=0" data-descr="2Простора однокімнатна квартира з панорамним видом на центральний парк міста. Передпокій обладнаний вбудованими шафами. Сучасна вбиральня з якісною сантехнікою. Світла кухня, розділена на зону приготування, обідню зону та затишний куточок для відпочинку. ")
            span 1Б 
          button.tours-filter__btn(data-tour="1В" data-src="https://apartment-tours.smartorange.com.ua/twins-1g/?scene=0" data-descr="3Простора однокімнатна квартира з панорамним видом на центральний парк міста. Передпокій обладнаний вбудованими шафами. Сучасна вбиральня з якісною сантехнікою. Світла кухня, розділена на зону приготування, обідню зону та затишний куточок для відпочинку. ")
            span 1В
          button.tours-filter__btn(data-tour="1Г" data-src="https://apartment-tours.smartorange.com.ua/twins-1g/?scene=0" data-descr="4Простора однокімнатна квартира з панорамним видом на центральний парк міста. Передпокій обладнаний вбудованими шафами. Сучасна вбиральня з якісною сантехнікою. Світла кухня, розділена на зону приготування, обідню зону та затишний куточок для відпочинку. ")
            span 1Г
          button.tours-filter__btn(data-tour="1Д" data-src="https://apartment-tours.smartorange.com.ua/twins-1g/?scene=0" data-descr="5Простора однокімнатна квартира з панорамним видом на центральний парк міста. Передпокій обладнаний вбудованими шафами. Сучасна вбиральня з якісною сантехнікою. Світла кухня, розділена на зону приготування, обідню зону та затишний куточок для відпочинку. ")
            span 1Д
          button.tours-filter__btn(data-tour="1Е" data-src="https://apartment-tours.smartorange.com.ua/twins-1g/?scene=0" data-descr="6Простора однокімнатна квартира з панорамним видом на центральний парк міста. Передпокій обладнаний вбудованими шафами. Сучасна вбиральня з якісною сантехнікою. Світла кухня, розділена на зону приготування, обідню зону та затишний куточок для відпочинку. ")
            span 1Е
          button.tours-filter__btn(data-tour="2А" data-src="https://apartment-tours.smartorange.com.ua/twins-1g/?scene=0" data-descr="7Простора однокімнатна квартира з панорамним видом на центральний парк міста. Передпокій обладнаний вбудованими шафами. Сучасна вбиральня з якісною сантехнікою. Світла кухня, розділена на зону приготування, обідню зону та затишний куточок для відпочинку. ")
            span 2А
          button.tours-filter__btn(data-tour="2Б" data-src="https://apartment-tours.smartorange.com.ua/twins-1g/?scene=0" data-descr="8Простора однокімнатна квартира з панорамним видом на центральний парк міста. Передпокій обладнаний вбудованими шафами. Сучасна вбиральня з якісною сантехнікою. Світла кухня, розділена на зону приготування, обідню зону та затишний куточок для відпочинку. ")
            span 2Б
          button.tours-filter__btn(data-tour="2В" data-src="https://apartment-tours.smartorange.com.ua/twins-1g/?scene=0" data-descr="9Простора однокімнатна квартира з панорамним видом на центральний парк міста. Передпокій обладнаний вбудованими шафами. Сучасна вбиральня з якісною сантехнікою. Світла кухня, розділена на зону приготування, обідню зону та затишний куточок для відпочинку. ")
            span 2В
          button.tours-filter__btn(data-tour="3А" data-src="https://apartment-tours.smartorange.com.ua/twins-1g/?scene=0" data-descr="10Простора однокімнатна квартира з панорамним видом на центральний парк міста. Передпокій обладнаний вбудованими шафами. Сучасна вбиральня з якісною сантехнікою. Світла кухня, розділена на зону приготування, обідню зону та затишний куточок для відпочинку. ")
            span 3А
        .tour__content
          iframe(src="https://apartment-tours.smartorange.com.ua/ua/tkb-development-203/?scene=0" loading="lazy" allowfullscreen="true").tour-iframe
          .tour__text-wrap 
            h3 Квартира 
              span N
            p Простора однокімнатна квартира з панорамним видом на центральний парк міста. Передпокій обладнаний вбудованими шафами. Сучасна вбиральня з якісною сантехнікою. Світла кухня, розділена на зону приготування, обідню зону та затишний куточок для відпочинку. 

block footer
  include ../includes/footer.pug

block header
  include ../includes/header.pug
