$default-font: 'Mariupol', sans-serif;
$default-font2: 'Inter', sans-serif;

$mc2: #ff554c;
$mc3: #e5df06;
$mc4: #4f90b6;
$gray: #878797;
$text: #22223e;
$wc: #F6F6F6;
$bc: #000;
$bc2: #000;

$bg-color: #221A22;
$accent-color: #322A32;
$color-body: rgba(110, 162, 188, 1);
$text-color: #F6F6F6;
$text-color-2: #CDC8BC;
$second-accent-color: rgba(240, 186, 82, 1);


// @mixin title-text () {
// 	font-size: 80px;

// 	font-weight: 400;
// 	font-style: normal;
// 	line-height: 120%;


// 	text-decoration: none;
// 	text-transform: uppercase;
// }

@mixin subtitle-text() {
	color: $wc;
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: 120%;
	text-transform: uppercase;


	@include tablet {
		font-size: 40px;
	}

	@include laptop {
		font-size: 2vw;
	}
}



@mixin general-text() {
	color: $text-color-2;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 140%;

	text-decoration: none;
	text-transform: none;

	@include tablet {
		font-size: 20px;
	}

	@include laptop {
		font-size: 1vw;
	}
}

// @mixin general-text-bold() {
// 	font-size: 20px;

// 	font-weight: 700;
// 	font-style: normal;
// 	line-height: 140%;

// 	text-decoration: none;
// 	text-transform: none;
// }

@mixin tiny-text() {
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: 100%;
	text-transform: uppercase;

	@include tablet {
		font-size: 14px;
	}
}