.footer {
  margin-top: -20px;
  max-width: 100vw;
  position: relative;
  z-index: 2;
  background-color: $accent-color;
  padding-top: 80px;
  overflow: hidden;

  &-title {
    color: $wc;
    font-size: 96px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: -3.84px;
    text-transform: uppercase;
    margin-bottom: 80px;
    text-align: end;
    width: 100%;

    @include tablet {
      font-size: 200px;
    }

    @include laptop {
      font-size: 10.4vw;
      transform: translateX(100%);
      width: 20%;
    }
  }

  .form-phone {
    display: none;
  }
}

.footer-content {
  @include laptop {
    display: flex;
    align-items: stretch;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 0px 40px 100px;

    .form-wrap {
      display: flex;
      flex-direction: column;
      // align-items: center;
      justify-content: center;
      width: 50%;
      padding: 0px 6vw;

      .form-wrapper {
        width: 100%
      }
    }

    .contact-info {
      width: 45%;
    }

  }

  // @at-root {

  //   .tablet.landscape,
  //   .mobile.landscape {
  //     .footer-content {
  //       display: flex;
  //       align-items: stretch;
  //       flex-direction: row-reverse;
  //       justify-content: space-between;
  //       padding: 0px 40px 150px;

  //       .form-wrap {
  //         display: flex;
  //         flex-direction: column;
  //         // align-items: center;
  //         justify-content: center;
  //         width: 50%;
  //         padding: 0px 6vw;

  //         .form-wrapper {
  //           width: 100%
  //         }
  //       }

  //       .contact-info {
  //         width: 45%;
  //       }
  //     }

  //   }
  // }
}

.form-wrap {
  position: relative;
  padding: 60px 20px;
  background-image: linear-gradient(#292129b9, #292129b7), url("../images/form-bg.jpg");
  background-position: center;
  background-size: cover;
  border-radius: 12px;
  background-blend-mode: color;
  box-shadow: 0px 0px 80px 0px #161016;
  // backdrop-filter: blur(30px);

  @include tablet {
    padding: 80px 40px;
  }

  .close-btn {
    cursor: pointer;

    svg {
      width: 24px;
      height: 24px;
    }
  }
}

.form-title {
  color: $wc;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
  text-transform: uppercase;
  margin-bottom: 8px;

  @include tablet {
    font-size: 40px;
  }

  @include laptop {
    font-size: 2vw;
  }
}

.form-descr {
  @include general-text;
  margin-bottom: 20px;

  @include tablet {
    margin-bottom: 40px;
  }
}

.contact-info {
  position: relative;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.up-btn-wrap {
  position: absolute;
  bottom: 40px;
  right: 20px;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;

  @include tablet {
    gap: 12px;
  }

  span {
    color: $text-color-2;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
  }

  .up-btn {
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: $bg-color;
    transition: background-color 0.4s ease-in-out, box-shadow 0.4s ease-in-out;
    box-shadow: 0px 1px 0px 0px #5A4C5A inset, 0px 12px 60px 0px #140E14, 0px 9px 30px 0px rgba(116, 69, 116, 0.25) inset, 0px 0px 8px 0px rgba(86, 39, 86, 0.15) inset;


    @include tablet {
      width: 60px;
      height: 60px;
    }

    svg {
      width: 12px;
      height: 12px;

    }
  }
}

.desktop {
  .up-btn-wrap:hover {
    .up-btn {
      background-color: #321931;
      box-shadow: 0px 1px 2px 0px #814180, 0px -8px 11.2px 0px rgba(96, 49, 95, 0.15) inset, 0px 1px 0px 0px #814180 inset, 0px 9px 30px 0px rgba(116, 69, 116, 0.25) inset, 0px 0px 8px 0px rgba(86, 39, 86, 0.15) inset;

    }
  }
}

.presentation {
  display: flex;
  align-items: center;
  gap: 8px;
}

.contacts-block {
  display: flex;
  flex-direction: column;
  gap: 8px;



  label {
    color: $text-color-2;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
  }

  .phone-wrap {
    display: flex;
    gap: 10px;
    align-items: center;
  }

  &>p {
    color: $text-color;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;

    @include tablet {
      font-size: 20px;
    }

    @include laptop {
      font-size: 1.04vw;
    }
  }

  &>a:not(.general-btn) {
    color: $text-color;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;

    text-transform: uppercase;

    @include tablet {
      font-size: 40px;
    }

    @include laptop {
      font-size: 2vw;
    }
  }

  & .phone-wrap>a:not(.general-btn) {
    color: $text-color;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;

    text-transform: uppercase;

    svg path {
      fill: $text-color;
      transition: fill 0.4s ease;
    }

    &:hover {
      svg path {
        fill: $text-color-2;
      }
    }

    @include tablet {
      font-size: 40px;
    }

    @include laptop {
      font-size: 2vw;
    }
  }

  .general-btn {
    margin-top: 12px;
  }
}

.socials-list {
  display: flex;

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;

    svg path {
      fill: $text-color;
      transition: fill 0.4s ease;
    }

    &:hover {
      svg path {
        fill: $text-color-2;
      }
    }
  }
}

.footer__bottom-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;

  position: relative;
  padding-bottom: 10px;

  @include tablet {
    padding-bottom: 20px;
  }
}

.footer__license {
  color: $text-color-2;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;

  span.pc {
    display: none;
  }

  @include laptop {
    span.mob {
      display: none;
    }

    span.pc {
      display: inline;
    }
  }
}

.dev-logo {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 46px;
  height: 50.001px;
}